html,
body {
  width: 100%;
  height: 100%;
}



.login-image {
  background-image: url(assets/img/curved-images/curved-6.jpg);
}
.signup-img {
  background-image: url(assets/img/curved-images/curved14.jpg);
}


.bg-gradient-primary{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
}
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
/* ----Modal----- */

/* src/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fiexd-h {
  height: 600px;
}

.profile-dev {
  border-radius: 57px;
  height: 36px;
  width: 36px;
  /* background: black; */
  color: white;
  text-align: center;
  padding: 4px;
  box-shadow: chocolate;
}

.btn-close {
  background: url("/src/assets/img/cross-icon.svg") center / 2em auto no-repeat !important;
}

.font-sm {
  font-size: medium;
}

.start-date-input {
  height: 43px;
}

.start-date-constainer {
  margin-bottom: 43px;
}

/* .bg-purple {
  background: #cb0c9f !important;
  color: #fff !important; 
} */

.btn-primary{
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background-color: #30cfd0 !important;
  
}
.s {
  overflow-x: auto;
}

/* .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
} */
/* Scrollbar  */

 /* width */
 ::-webkit-scrollbar {
  width: 6px;
}
.text-orange{
  color: orange;
}
.text-blue{
  color: rgb(30, 30, 195);
}
/* Track */
::-webkit-scrollbar-track {
  background: #acebeb;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(193, 190, 190); 
}

.sidenav{
  z-index: 9 !important;
}
.CiMenuBurger-icon {
  top: 26px;
  left: 22px;
  z-index: 99;
}
